@use "../../../assets/styles/main.scss" as *;

.wp-block-iuscanonicum-banner {
	width: 100%;
	height: auto;
	display: block;
	padding-top: 64px;
	padding-bottom: 64px;
	text-align: center;

	&--light {
		background-color: $gray-color;
	}

	&--dark {
		background-color: $secondary-color;
		
		p, h2 {
			color: white;
		}
	}

	&__container {
		@extend .container;
	}

	&__title {
		margin-top: 0;
		margin-bottom: 64px;
	}

	&__description {
		margin-bottom: 32px;
	}

	&__button {
		margin: 0 auto;
		
		&:hover, &:active, &:focus {
			color: white;
		}
	}
}
