* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Amulya", sans-serif;
}
@media screen and (max-width: 576px) {
  body {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Inter", sans-serif;
  color: #143642;
}

h1 {
  font-size: 48px;
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-size: 40px;
  font-weight: 700;
}
@media screen and (max-width: 576px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-size: 32px;
  font-weight: 700;
}
@media screen and (max-width: 576px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 24px;
  font-weight: 600;
}
@media screen and (max-width: 576px) {
  h4 {
    font-size: 20px;
  }
}

h5 {
  font-size: 19px;
  font-weight: 600;
}
@media screen and (max-width: 576px) {
  h5 {
    font-size: 16px;
  }
}

p {
  color: #4a4a4a;
}

a {
  text-decoration: none;
}

input,
textarea {
  border: none;
  padding: 16px;
  border-bottom: 2px solid #9a9a9a;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  outline: none;
  color: #143642;
  font-size: 15px;
}
input::placeholder,
textarea::placeholder {
  color: #9a9a9a;
}
input:focus,
textarea:focus {
  border-color: #143642;
}

textarea {
  resize: vertical;
  max-height: 512px;
  height: 256px;
  min-height: 256px;
}

.container {
  width: 100%;
  max-width: 1320px;
  padding: 0 32px 0 32px;
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  .container {
    padding: 0 16px 0 16px;
  }
}

.hamburger {
  display: none;
  row-gap: 8px;
  flex-direction: column;
  width: 32px;
  height: auto;
}
@media screen and (max-width: 1024px) {
  .hamburger {
    display: flex;
  }
}
@media screen and (max-width: 576px) {
  .hamburger {
    width: 24px;
  }
}
.hamburger__slice {
  width: 100%;
  height: 2.3px;
  background-color: #143642;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .header {
    padding: 32px 16px 32px 16px;
  }
}
@media screen and (max-width: 576px) {
  .header__logo {
    width: 192px;
  }
}
.header__menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
@media screen and (max-width: 1024px) {
  .header__nav {
    display: none;
  }
}
.header__home-link {
  height: 56px;
}
@media screen and (max-width: 576px) {
  .header__home-link {
    height: 33.8px;
  }
}
.header .menu-item a {
  color: #143642;
  display: block;
  text-decoration: none;
  padding: 8px 16px 8px 16px;
}
.header .menu-item a:hover {
  background-color: #fafafa;
}
.header .current-menu-item a {
  color: #9e2a2b;
  background-color: #fafafa;
  font-weight: 600;
}

.button {
  border: none;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  padding: 16px 32px 16px 32px;
  display: block;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .button {
    width: 100%;
    text-align: center;
    font-size: 13px;
  }
}
.button--block {
  width: 100%;
}
.button--primary {
  background-color: #9e2a2b;
  color: white;
}
.button--primary-outlined {
  background-color: transparent;
  color: #9e2a2b;
  border: 2px solid #9e2a2b;
}
.button--primary-outlined:hover {
  background-color: #9e2a2b;
  color: white;
}

#start {
  height: calc(100svh - 120px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 64px;
}

.hero {
  display: flex !important;
  height: auto !important;
  flex-direction: row;
  column-gap: 64px;
  align-items: center;
  margin-top: -5%;
}
@media screen and (max-width: 576px) {
  .hero {
    margin-top: inherit;
  }
}
.hero__container {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  flex-shrink: 5.5;
}
.hero__overline-heading {
  color: #9e2a2b;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 24px;
}
@media screen and (max-width: 576px) {
  .hero__overline-heading {
    font-size: 15px;
  }
}
.hero__img {
  width: 100%;
  height: auto;
  max-width: 512px;
  min-width: 256px;
  flex-shrink: 4.5;
}
@media screen and (max-width: 1024px) {
  .hero__img {
    display: none;
  }
}

.swiper-wrapper {
  height: auto !important;
}

.swiper-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
  position: relative !important;
  width: fit-content !important;
  top: inherit !important;
  bottom: inherit !important;
  left: inherit !important;
}
.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  background-color: transparent !important;
  border: 1px solid #143642 !important;
  margin: 0 !important;
  opacity: inherit !important;
}
.swiper-pagination-bullet-active {
  background-color: #143642 !important;
}

.scroll-down {
  margin: 0 auto;
  display: block;
  width: fit-content;
  margin-top: -32px;
}
@media screen and (max-width: 576px) {
  .scroll-down {
    display: none;
  }
}

.section {
  margin-top: 256px;
  margin-bottom: 256px;
}

.section__heading {
  margin-bottom: 64px;
  text-align: center;
  padding: 0 32px 0 32px;
}
.section__heading--bg {
  background-color: #fafafa;
  padding: 64px 32px 64px 32px;
  margin-bottom: 64px;
}
@media screen and (max-width: 576px) {
  .section__heading--bg {
    padding: 32px 16px 32px 16px;
  }
}

.welcome-block {
  padding: 64px 0 64px 0;
  background-color: #143642;
}
.welcome-block p {
  color: white;
  text-align: center;
}

.contact-block {
  background-color: #fafafa;
  padding: 64px 0 64px 0;
}
.contact-block__content {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .contact-block__content {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.contact-block__box {
  display: flex;
  row-gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 256px;
}
.contact-block__box .icon {
  width: 80px;
  height: 80px;
}
.contact-block__box .icon__img {
  width: 40px;
  height: 40px;
}
.contact-block__details {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  text-align: center;
}

.services-block {
  display: grid;
  gap: 64px;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 1200px) {
  .services-block {
    gap: 32px;
  }
}
@media screen and (max-width: 1024px) {
  .services-block {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .services-block {
    grid-template-columns: 1fr;
  }
}
.services-block__box {
  display: flex;
  row-gap: 16px;
  flex-direction: column;
}

.advantages-block {
  display: grid;
  gap: 64px;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 1200px) {
  .advantages-block {
    gap: 32px;
  }
}
@media screen and (max-width: 768px) {
  .advantages-block {
    grid-template-columns: 1fr;
  }
}
.advantages-block__box {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
@media screen and (max-width: 1024px) {
  .advantages-block__box {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
.advantages-block__box .icon {
  width: 128px;
  height: 128px;
  min-width: 128px;
}
.advantages-block__box .icon__img {
  width: 64px;
  height: 64px;
}
.advantages-block__details {
  display: flex;
  row-gap: 16px;
  flex-direction: column;
}

#weCanHelpYou {
  background-color: #143642;
}
#weCanHelpYou .section__heading {
  color: white;
}

.weCanHelpYou-block {
  padding: 64px 0 64px 0;
}
.weCanHelpYou-block__details {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 32px;
  align-items: center;
}
.weCanHelpYou-block__details p {
  color: white;
}

.latest-articles-block {
  display: grid;
  gap: 64px;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 1024px) {
  .latest-articles-block {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 1200px) {
  .latest-articles-block {
    gap: 32px;
  }
}
@media screen and (max-width: 768px) {
  .latest-articles-block {
    grid-template-columns: 1fr;
  }
}

.article {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.article__cover-img {
  width: 100%;
  height: auto;
}
.article__header {
  display: flex;
  row-gap: 8px;
  flex-direction: column;
  flex-grow: 1;
}
.article__overline-heading {
  text-transform: uppercase;
  color: #9e2a2b;
  font-weight: 300;
}
.article__summary {
  display: none;
}
.article__date {
  color: #8d8d8d;
}
.article__ref {
  width: fit-content;
  text-decoration: none;
  color: #143642;
  font-weight: 500;
  font-size: 20px;
  border-bottom: 2px solid #9e2a2b;
  padding-bottom: 2px;
}
@media screen and (max-width: 576px) {
  .article__ref {
    text-align: center;
    width: 100%;
    font-size: 15px;
  }
}

.icon {
  width: 48px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #9e2a2b;
}
.icon img {
  width: 24px;
  height: 24px;
}

.footer {
  width: 100%;
  height: auto;
}
.footer h5 {
  color: white;
}
.footer p {
  color: #e9e9e9;
}
.footer a {
  text-decoration: none;
  color: #e9e9e9;
}
.footer__primary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #143642;
}
.footer__primary-content {
  padding: 64px 32px 64px 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
}
@media screen and (max-width: 1024px) {
  .footer__primary-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 576px) {
  .footer__primary-content {
    grid-template-columns: 1fr;
  }
}
.footer__secondary {
  background-color: #112e39;
}
.footer__secondary-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px 16px 32px;
  font-size: 13px;
}
@media screen and (max-width: 576px) {
  .footer__secondary-content {
    flex-direction: column;
  }
}
.footer__box {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
@media screen and (max-width: 576px) {
  .footer__box {
    align-items: center;
    text-align: center;
  }
}
.footer__box:first-of-type {
  max-width: 512px;
  min-width: min-content;
  width: 100%;
  flex-shrink: 3.5;
}
.footer__social {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  width: fit-content;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #9e2a2b;
}
.footer__social-icon img {
  width: 24px;
  height: 24px;
}
.footer__list {
  display: flex;
  list-style: none;
  flex-direction: column;
  row-gap: 8px;
}
.footer__home-link {
  height: 48px;
}
.footer__copyright {
  color: white !important;
}
.footer__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
  list-style: none;
}

.page-bar {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .page-bar {
    flex-direction: column;
  }
}
.page-bar__box {
  padding: 32px;
  display: inline-flex;
  align-items: center;
  width: 100%;
}
.page-bar__box--title {
  flex-shrink: 1.5;
  max-width: 512px;
  min-width: 256px;
  background-color: #9e2a2b;
}
@media screen and (max-width: 768px) {
  .page-bar__box--title {
    width: 100%;
    max-width: 100%;
    min-width: inherit;
  }
}
.page-bar__box--title h2 {
  color: white;
}
.page-bar__box--breadcrumbs {
  justify-content: right;
  background-color: #143642;
}
@media screen and (max-width: 768px) {
  .page-bar__box--breadcrumbs {
    justify-content: left;
    padding: 16px 32px 16px 32px;
  }
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}
.breadcrumbs a {
  color: white;
  text-decoration: underline;
}
.breadcrumbs span {
  color: white;
}
.breadcrumbs__separator {
  width: 16px;
  height: 1px;
  background-color: white;
}

.p-m-b-32 {
  margin-bottom: 32px;
}

.about-us-page__img {
  width: 100%;
  max-width: 360px;
  object-fit: contain;
  height: fit-content;
  min-width: 256px;
  float: left;
  margin-right: 32px;
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .about-us-page__img {
    max-width: 256px;
  }
}
@media screen and (max-width: 576px) {
  .about-us-page__img {
    float: initial;
    margin: 0 auto;
    margin-bottom: 32px;
    display: block;
  }
}

.article-list {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 1024px) {
  .article-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
  }
}
@media screen and (max-width: 768px) {
  .article-list {
    grid-template-columns: 1fr;
  }
}

.contact-page .contact-block {
  background-color: transparent;
  padding: 0;
  margin-bottom: 128px;
}
.contact-page .content {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-top: 128px;
}
@media screen and (max-width: 1024px) {
  .contact-page .content {
    flex-direction: column;
  }
}
.contact-page .content img {
  max-width: 460px;
  min-width: 300px;
  height: fit-content;
  object-fit: contain;
  flex-shrink: 3;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .contact-page .content img {
    margin: 0 auto;
  }
}
.contact-page .form-wrapper {
  display: flex;
  row-gap: 16px;
  flex-direction: column;
  width: 100%;
  flex-shrink: 10;
}
.contact-page .form {
  display: flex;
  row-gap: 16px;
  flex-direction: column;
}
.contact-page .form__group {
  display: flex;
  gap: 16px;
  flex-direction: row;
  width: 100%;
}
.contact-page .form__group input[type=text] {
  width: 100%;
}
@media screen and (max-width: 576px) {
  .contact-page .form__group {
    flex-direction: column;
  }
}
@media screen and (max-width: 1200px) {
  .contact-page .form__group--agreement {
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
  .contact-page .form__group--agreement {
    flex-direction: row;
  }
}
@media screen and (max-width: 576px) {
  .contact-page .form__group--agreement {
    flex-direction: column;
  }
}
.contact-page .form__agreement {
  display: flex;
  align-items: center;
  column-gap: 16px;
  flex-direction: row;
  width: 100%;
}

.team-member {
  display: flex;
  gap: 32px;
  flex-direction: row;
  margin-bottom: 128px;
}
@media screen and (max-width: 1024px) {
  .team-member {
    flex-direction: column;
    align-items: center;
  }
}
.team-member__img {
  min-width: 256px;
  max-width: 360px;
  width: 100%;
  height: fit-content;
  object-fit: contain;
  flex-shrink: 6;
}
.team-member__profession {
  font-size: 24px;
  font-weight: 500;
  color: #9e2a2b;
}
.team-member__details {
  display: flex;
  gap: 16px;
  flex-direction: column;
  flex-shrink: 4;
  width: 100%;
}
.team-member__contact {
  display: flex;
  gap: 16px;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 576px) {
  .team-member__contact {
    flex-direction: column;
  }
}
.team-member__contact-box {
  display: flex;
  column-gap: 8px;
  align-items: center;
  flex-direction: row;
}
.team-member__contact-box a {
  color: #4a4a4a;
  text-decoration: underline;
}