@import "../../../assets/styles/variables";

.wp-block-iuscanonicum-page-title {
	width: 100%;
	height: auto;
	display: block;
	text-align: center;
	background-color: $gray-color;
	padding: 64px 32px 64px 32px;
}
